.booking-modal {
    position: relative;
    width: 400px;
    max-width: 90%;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin: auto;

    &__Overlay {
        z-index: 1000;
    }

    &__close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        background: transparent;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: #333;
    }

    &__header {
        margin-top: 0;
    }
}
