@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.calendar {
    display: flex;
    flex-direction: column;

    &__title {
        padding-left: 1rem;
    }

    @include desktop {
        max-width: $desktop-breakpoint;
    }
}
